extends components/layout/layout-cpanel/layout-cpanel.pug
//- Meta title and descriptions
block meta
  title Создать паспорт
  meta(name="", content="")

block main
  div.page__sub-header
    div.sub-header
      div.sub-header__content
        div.sub-header__body
          div.sub-header__title Создать паспорт
          div.sub-header__text Форма создания паспорта
  div.page__container
    div.nav.nav--project.nav--cards.nav--horizontal
      div.nav__content
        div.mdc-tab-bar(role='tablist')
          div.mdc-tab-scroller
            div.mdc-tab-scroller__scroll-area
              div.mdc-tab-scroller__scroll-content
                a.mdc-tab(href="/project", role='tab' aria-selected='false' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Проект
                  span.mdc-tab-indicator
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

                a.mdc-tab.mdc-tab--active(href="/password-add.html", role='tab' aria-selected='true' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Паспорт
                  span.mdc-tab-indicator.mdc-tab-indicator--active
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

                a.mdc-tab(href="/concept-add.html", role='tab' aria-selected='false' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Концепция
                  span.mdc-tab-indicator
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

                a.mdc-tab(href="/technical-specifications-add.html", role='tab' aria-selected='false' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Тех. задания
                  span.mdc-tab-indicator
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

                a.mdc-tab(href="/tender-add.html", role='tab' aria-selected='false' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Тендорная док-ция
                  span.mdc-tab-indicator
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

    div.password-form
      div.password-form__content
        div.password-form__stepper
          div.stepper.stepper--password-form
            div.stepper__content
              div.stepper__list

                a.stepper__item.stepper__item--visited(href="/password-add.html", title="")
                  div.stepper__media
                    +icon('done', 'stepper__media-icon')
                    div.stepper__media-text 1
                  div.stepper__body
                    div.stepper__title Шаг 1
                    div.stepper__text Общие сведения

                a.stepper__item.stepper__item--visited(href="/password-add-step-2.html", title="")
                  div.stepper__media
                    +icon('done', 'stepper__media-icon')
                    div.stepper__media-text 2
                  div.stepper__body
                    div.stepper__title Шаг 2
                    div.stepper__text Сведения об&nbsp;основных технических свойствах

                a.stepper__item.stepper__item--visited(href="/password-add-step-3.html", title="")
                  div.stepper__media
                    +icon('done', 'stepper__media-icon')
                    div.stepper__media-text 3
                  div.stepper__body
                    div.stepper__title Шаг 3
                    div.stepper__text Сведения о&nbsp;разработке, использовании и&nbsp;вывод из&nbsp;эксплуатации

                a.stepper__item.stepper__item--active(href="/password-add-step-4.html", title="")
                  div.stepper__media
                    +icon('done', 'stepper__media-icon')
                    div.stepper__media-text 4
                  div.stepper__body
                    div.stepper__title Шаг 4
                    div.stepper__text Основные сведения о&nbsp;технических показателях серверных оборудований

        form.form.password-form__form(action="")
          div.form__step.form__step-1(id="passwordFormStep02")
            div.form__title Основные сведения о технических показателях серверных оборудований

            div.form__group
              label.mdc-text-field.mdc-text-field--outlined
                input.mdc-text-field__input(
                  aria-label='Label')
                span.mdc-notched-outline
                  span.mdc-notched-outline__leading
                  span.mdc-notched-outline__notch
                    span.mdc-floating-label Размещение серверного оборудования
                  span.mdc-notched-outline__trailing
              div.mdc-text-field-helper-line
                div.mdc-text-field-helper-text(aria-hidden='true') Введите адрес

            div.form__group
              label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--textarea
                span.mdc-text-field__resizer
                  textarea.mdc-text-field__input(
                    rows='2'
                    cols='40'
                    aria-label='Label')
                span.mdc-notched-outline
                  span.mdc-notched-outline__leading
                  span.mdc-notched-outline__notch
                    span.mdc-floating-label Серверная мощность
                  span.mdc-notched-outline__trailing

            div.form__fieldset
              div.form__title.form__title--legend Операционная система

              div.form__grid.mdc-layout-grid
                div.form__row.mdc-layout-grid__inner
                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                    div.form__group
                      div.mdc-select.mdc-select--outlined
                        div.mdc-select__anchor(aria-labelledby='outlined-select-label')
                          span#demo-selected-text.mdc-select__selected-text
                          span.mdc-select__dropdown-icon
                            svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5')
                              polygon.mdc-select__dropdown-icon-inactive(stroke='none' fill-rule='evenodd' points='7 10 12 15 17 10')
                              polygon.mdc-select__dropdown-icon-active(stroke='none' fill-rule='evenodd' points='7 15 12 10 17 15')
                          span.mdc-notched-outline
                            span.mdc-notched-outline__leading
                            span.mdc-notched-outline__notch
                              span#outlined-select-label.mdc-floating-label Наименование
                            span.mdc-notched-outline__trailing
                        div.mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--fullwidth(role='listbox')
                          ul.mdc-list
                            li.mdc-list-item(data-value='1')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text Выберите наименование 1
                            li.mdc-list-item(data-value='2')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите наименование 2
                            li.mdc-list-item(data-value='3')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите наименование 3

                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                    div.form__group
                      div.mdc-select.mdc-select--outlined
                        div.mdc-select__anchor(aria-labelledby='outlined-select-label')
                          span#demo-selected-text.mdc-select__selected-text
                          span.mdc-select__dropdown-icon
                            svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5')
                              polygon.mdc-select__dropdown-icon-inactive(stroke='none' fill-rule='evenodd' points='7 10 12 15 17 10')
                              polygon.mdc-select__dropdown-icon-active(stroke='none' fill-rule='evenodd' points='7 15 12 10 17 15')
                          span.mdc-notched-outline
                            span.mdc-notched-outline__leading
                            span.mdc-notched-outline__notch
                              span#outlined-select-label.mdc-floating-label Вид
                            span.mdc-notched-outline__trailing
                        div.mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--fullwidth(role='listbox')
                          ul.mdc-list
                            li.mdc-list-item(data-value='1')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text Выберите вид 1
                            li.mdc-list-item(data-value='2')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите вид 2
                            li.mdc-list-item(data-value='3')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите вид 3

            div.form__fieldset
              div.form__title.form__title--legend Система управления базами данных

              div.form__grid.mdc-layout-grid
                div.form__row.mdc-layout-grid__inner
                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                    div.form__group
                      div.mdc-select.mdc-select--outlined
                        div.mdc-select__anchor(aria-labelledby='outlined-select-label')
                          span#demo-selected-text.mdc-select__selected-text
                          span.mdc-select__dropdown-icon
                            svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5')
                              polygon.mdc-select__dropdown-icon-inactive(stroke='none' fill-rule='evenodd' points='7 10 12 15 17 10')
                              polygon.mdc-select__dropdown-icon-active(stroke='none' fill-rule='evenodd' points='7 15 12 10 17 15')
                          span.mdc-notched-outline
                            span.mdc-notched-outline__leading
                            span.mdc-notched-outline__notch
                              span#outlined-select-label.mdc-floating-label Наименование
                            span.mdc-notched-outline__trailing
                        div.mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--fullwidth(role='listbox')
                          ul.mdc-list
                            li.mdc-list-item(data-value='1')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text Выберите наименование 1
                            li.mdc-list-item(data-value='2')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите наименование 2
                            li.mdc-list-item(data-value='3')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите наименование 3

                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                    div.form__group
                      div.mdc-select.mdc-select--outlined
                        div.mdc-select__anchor(aria-labelledby='outlined-select-label')
                          span#demo-selected-text.mdc-select__selected-text
                          span.mdc-select__dropdown-icon
                            svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5')
                              polygon.mdc-select__dropdown-icon-inactive(stroke='none' fill-rule='evenodd' points='7 10 12 15 17 10')
                              polygon.mdc-select__dropdown-icon-active(stroke='none' fill-rule='evenodd' points='7 15 12 10 17 15')
                          span.mdc-notched-outline
                            span.mdc-notched-outline__leading
                            span.mdc-notched-outline__notch
                              span#outlined-select-label.mdc-floating-label Вид
                            span.mdc-notched-outline__trailing
                        div.mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--fullwidth(role='listbox')
                          ul.mdc-list
                            li.mdc-list-item(data-value='1')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text Выберите вид 1
                            li.mdc-list-item(data-value='2')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите вид 2
                            li.mdc-list-item(data-value='3')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите вид 3

            div.form__group
              label.mdc-text-field.mdc-text-field--outlined
                input.mdc-text-field__input(
                  aria-label='Label')
                span.mdc-notched-outline
                  span.mdc-notched-outline__leading
                  span.mdc-notched-outline__notch
                    span.mdc-floating-label Наименование прикладного программного обеспечения
                  span.mdc-notched-outline__trailing

            div.form__fieldset
              div.form__title.form__title--legend Средства защиты

              div.form__grid.mdc-layout-grid
                div.form__row.mdc-layout-grid__inner
                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                    div.form__group
                      div.mdc-select.mdc-select--outlined
                        div.mdc-select__anchor(aria-labelledby='outlined-select-label')
                          span#demo-selected-text.mdc-select__selected-text
                          span.mdc-select__dropdown-icon
                            svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5')
                              polygon.mdc-select__dropdown-icon-inactive(stroke='none' fill-rule='evenodd' points='7 10 12 15 17 10')
                              polygon.mdc-select__dropdown-icon-active(stroke='none' fill-rule='evenodd' points='7 15 12 10 17 15')
                          span.mdc-notched-outline
                            span.mdc-notched-outline__leading
                            span.mdc-notched-outline__notch
                              span#outlined-select-label.mdc-floating-label Наименование
                            span.mdc-notched-outline__trailing
                        div.mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--fullwidth(role='listbox')
                          ul.mdc-list
                            li.mdc-list-item(data-value='1')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text Выберите наименование 1
                            li.mdc-list-item(data-value='2')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите наименование 2
                            li.mdc-list-item(data-value='3')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите наименование 3

                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                    div.form__group
                      div.mdc-select.mdc-select--outlined
                        div.mdc-select__anchor(aria-labelledby='outlined-select-label')
                          span#demo-selected-text.mdc-select__selected-text
                          span.mdc-select__dropdown-icon
                            svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5')
                              polygon.mdc-select__dropdown-icon-inactive(stroke='none' fill-rule='evenodd' points='7 10 12 15 17 10')
                              polygon.mdc-select__dropdown-icon-active(stroke='none' fill-rule='evenodd' points='7 15 12 10 17 15')
                          span.mdc-notched-outline
                            span.mdc-notched-outline__leading
                            span.mdc-notched-outline__notch
                              span#outlined-select-label.mdc-floating-label Вид
                            span.mdc-notched-outline__trailing
                        div.mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--fullwidth(role='listbox')
                          ul.mdc-list
                            li.mdc-list-item(data-value='1')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text Выберите вид 1
                            li.mdc-list-item(data-value='2')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите вид 2
                            li.mdc-list-item(data-value='3')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите вид 3


            div.form__fieldset
              div.form__title.form__title--legend Система бесперебойного питания

              div.form__grid.mdc-layout-grid
                div.form__row.mdc-layout-grid__inner
                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                    div.form__group
                      div.mdc-select.mdc-select--outlined
                        div.mdc-select__anchor(aria-labelledby='outlined-select-label')
                          span#demo-selected-text.mdc-select__selected-text
                          span.mdc-select__dropdown-icon
                            svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5')
                              polygon.mdc-select__dropdown-icon-inactive(stroke='none' fill-rule='evenodd' points='7 10 12 15 17 10')
                              polygon.mdc-select__dropdown-icon-active(stroke='none' fill-rule='evenodd' points='7 15 12 10 17 15')
                          span.mdc-notched-outline
                            span.mdc-notched-outline__leading
                            span.mdc-notched-outline__notch
                              span#outlined-select-label.mdc-floating-label Наименование
                            span.mdc-notched-outline__trailing
                        div.mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--fullwidth(role='listbox')
                          ul.mdc-list
                            li.mdc-list-item(data-value='1')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text Выберите наименование 1
                            li.mdc-list-item(data-value='2')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите наименование 2
                            li.mdc-list-item(data-value='3')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите наименование 3

                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                    div.form__group
                      div.mdc-select.mdc-select--outlined
                        div.mdc-select__anchor(aria-labelledby='outlined-select-label')
                          span#demo-selected-text.mdc-select__selected-text
                          span.mdc-select__dropdown-icon
                            svg.mdc-select__dropdown-icon-graphic(viewBox='7 10 10 5')
                              polygon.mdc-select__dropdown-icon-inactive(stroke='none' fill-rule='evenodd' points='7 10 12 15 17 10')
                              polygon.mdc-select__dropdown-icon-active(stroke='none' fill-rule='evenodd' points='7 15 12 10 17 15')
                          span.mdc-notched-outline
                            span.mdc-notched-outline__leading
                            span.mdc-notched-outline__notch
                              span#outlined-select-label.mdc-floating-label Вид
                            span.mdc-notched-outline__trailing
                        div.mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--fullwidth(role='listbox')
                          ul.mdc-list
                            li.mdc-list-item(data-value='1')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text Выберите вид 1
                            li.mdc-list-item(data-value='2')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите вид 2
                            li.mdc-list-item(data-value='3')
                              span.mdc-list-item__ripple
                              span.mdc-list-item__text  Выберите вид 3


          div.form__actions.form__actions--passwords-form
            div.form__actions-row
              div.form__actions-cell.form__actions-cell--back
                a.btn.mdc-button.mdc-button--dark(href="/password-add-step-3.html")
                  div.mdc-button__ripple
                  +icon('chevron_left', ' icon--left mdc-button__icon btn__icon')
                  span.mdc-button__label Назад
              div.form__actions-cell.form__actions-cell--save
                button.btn.mdc-button.mdc-button--unelevated
                  div.mdc-button__ripple
                  span.mdc-button__label Сохранить
              div.form__actions-cell.form__actions-cell--cancel
                button.btn.mdc-button.mdc-button--dark
                  div.mdc-button__ripple
                  span.mdc-button__label Отенить


