extends components/layout/layout-cpanel/layout-cpanel.pug
//- Meta title and descriptions
block meta
  title Создать паспорт
  meta(name="", content="")

block main
  div.page__sub-header
    div.sub-header
      div.sub-header__content
        div.sub-header__body
          div.sub-header__title Создать паспорт
          div.sub-header__text Форма создания паспорта
  div.page__container
    div.nav.nav--project.nav--cards.nav--horizontal
      div.nav__content
        div.mdc-tab-bar(role='tablist')
          div.mdc-tab-scroller
            div.mdc-tab-scroller__scroll-area
              div.mdc-tab-scroller__scroll-content
                a.mdc-tab(href="/project", role='tab' aria-selected='false' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Проект
                  span.mdc-tab-indicator
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

                a.mdc-tab.mdc-tab--active(href="/password-add.html", role='tab' aria-selected='true' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Паспорт
                  span.mdc-tab-indicator.mdc-tab-indicator--active
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

                a.mdc-tab(href="/concept-add.html", role='tab' aria-selected='false' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Концепция
                  span.mdc-tab-indicator
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

                a.mdc-tab(href="/technical-specifications-add.html", role='tab' aria-selected='false' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Тех. задания
                  span.mdc-tab-indicator
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

                a.mdc-tab(href="/tender-add.html", role='tab' aria-selected='false' tabindex='0')
                  span.mdc-tab__content
                    span.mdc-tab__text-label Тендорная док-ция
                  span.mdc-tab-indicator
                    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline
                  span.mdc-tab__ripple

    div.password-form
      div.password-form__content
        form.form.password-form__form(action="")
          div.form__step.form__step-1(id="passwordFormStep02")
            div.form__title Заполните форму

            div.form__fieldset
              div.form__title.form__title--legend Разработчик информационной системы

              div.form__group
                label.mdc-text-field.mdc-text-field--outlined
                  input.mdc-text-field__input(
                    aria-label='Label')
                  span.mdc-notched-outline
                    span.mdc-notched-outline__leading
                    span.mdc-notched-outline__notch
                      span.mdc-floating-label Наименование разработчика
                    span.mdc-notched-outline__trailing

              div.form__group
                label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--textarea
                  span.mdc-text-field__resizer
                    textarea.mdc-text-field__input(
                      rows='2'
                      cols='40'
                      aria-label='Label')
                  span.mdc-notched-outline
                    span.mdc-notched-outline__leading
                    span.mdc-notched-outline__notch
                      span.mdc-floating-label Подтверждающий документ о начале и завершении процесса разработки
                    span.mdc-notched-outline__trailing

            div.form__group
              label.mdc-text-field.mdc-text-field--outlined
                input.mdc-text-field__input(
                  aria-label='Label')
                span.mdc-notched-outline
                  span.mdc-notched-outline__leading
                  span.mdc-notched-outline__notch
                    span.mdc-floating-label Разработка информационной системы
                  span.mdc-notched-outline__trailing

            div.form__group
              label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--textarea
                span.mdc-text-field__resizer
                  textarea.mdc-text-field__input(
                    rows='2'
                    cols='40'
                    aria-label='Label')
                span.mdc-notched-outline
                  span.mdc-notched-outline__leading
                  span.mdc-notched-outline__notch
                    span.mdc-floating-label Экспертиза ГУП «Центр кибербезопасности»
                  span.mdc-notched-outline__trailing
              div.mdc-text-field-helper-line
                div.mdc-text-field-helper-text(aria-hidden='true') На предмет соответствия информационной системы требованиям информационной безопасности и техническому заданию

            div.form__fieldset
              div.form__title.form__title--legend Сведения о проведенной экспертизе проектно-технической документации

              div.form__grid.mdc-layout-grid
                div.form__row.mdc-layout-grid__inner
                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
                    div.form__group
                      label.mdc-text-field.mdc-text-field--outlined
                        input.mdc-text-field__input(
                          aria-label='Label')
                        span.mdc-notched-outline
                          span.mdc-notched-outline__leading
                          span.mdc-notched-outline__notch
                            span.mdc-floating-label Подтверждающий документ
                          span.mdc-notched-outline__trailing

                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
                    label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-trailing-icon
                      input.mdc-text-field__input(type='text')
                      +icon('event', 'mdc-text-field__icon mdc-text-field__icon--trailing')
                      span.mdc-notched-outline
                        span.mdc-notched-outline__leading
                        span.mdc-notched-outline__notch
                          span.mdc-floating-label Дата экспертизы
                        span.mdc-notched-outline__trailing

            div.form__fieldset
              div.form__title.form__title--legend Принятие информационной системы

              div.form__grid.mdc-layout-grid
                div.form__row.mdc-layout-grid__inner
                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
                    div.form__group
                      label.mdc-text-field.mdc-text-field--outlined
                        input.mdc-text-field__input(
                          aria-label='Label')
                        span.mdc-notched-outline
                          span.mdc-notched-outline__leading
                          span.mdc-notched-outline__notch
                            span.mdc-floating-label Подтверждающий документ
                          span.mdc-notched-outline__trailing

                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
                    label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-trailing-icon
                      input.mdc-text-field__input(type='text')
                      +icon('event', 'mdc-text-field__icon mdc-text-field__icon--trailing')
                      span.mdc-notched-outline
                        span.mdc-notched-outline__leading
                        span.mdc-notched-outline__notch
                          span.mdc-floating-label Дата
                        span.mdc-notched-outline__trailing

            div.form__fieldset
              div.form__title.form__title--legend Ввод в промышленную эксплуатацию

              div.form__grid.mdc-layout-grid
                div.form__row.mdc-layout-grid__inner
                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
                    div.form__group
                      label.mdc-text-field.mdc-text-field--outlined
                        input.mdc-text-field__input(
                          aria-label='Label')
                        span.mdc-notched-outline
                          span.mdc-notched-outline__leading
                          span.mdc-notched-outline__notch
                            span.mdc-floating-label Подтверждающий документ
                          span.mdc-notched-outline__trailing

                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
                    label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-trailing-icon
                      input.mdc-text-field__input(type='text')
                      +icon('event', 'mdc-text-field__icon mdc-text-field__icon--trailing')
                      span.mdc-notched-outline
                        span.mdc-notched-outline__leading
                        span.mdc-notched-outline__notch
                          span.mdc-floating-label Дата
                        span.mdc-notched-outline__trailing

            div.form__grid.mdc-layout-grid
              div.form__row.mdc-layout-grid__inner
                div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                  div.form__group
                    label.mdc-text-field.mdc-text-field--outlined
                      input.mdc-text-field__input(
                        aria-label='Label')
                      span.mdc-notched-outline
                        span.mdc-notched-outline__leading
                        span.mdc-notched-outline__notch
                          span.mdc-floating-label Расходы на техническое сопровождение
                        span.mdc-notched-outline__trailing

                div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
                  div.form__group
                    label.mdc-text-field.mdc-text-field--outlined
                      input.mdc-text-field__input(
                        aria-label='Label')
                      span.mdc-notched-outline
                        span.mdc-notched-outline__leading
                        span.mdc-notched-outline__notch
                          span.mdc-floating-label Расходы на разработку
                        span.mdc-notched-outline__trailing

            div.form__fieldset
              div.form__title.form__title--legend Совершенствование информационной системы

              div.form__grid.mdc-layout-grid
                div.form__row.mdc-layout-grid__inner
                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
                    div.form__group
                      label.mdc-text-field.mdc-text-field--outlined
                        input.mdc-text-field__input(
                          aria-label='Label')
                        span.mdc-notched-outline
                          span.mdc-notched-outline__leading
                          span.mdc-notched-outline__notch
                            span.mdc-floating-label Подтверждающий документ
                          span.mdc-notched-outline__trailing

                  div.form__cell.mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
                    label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-trailing-icon
                      input.mdc-text-field__input(type='text')
                      +icon('event', 'mdc-text-field__icon mdc-text-field__icon--trailing')
                      span.mdc-notched-outline
                        span.mdc-notched-outline__leading
                        span.mdc-notched-outline__notch
                          span.mdc-floating-label Дата
                        span.mdc-notched-outline__trailing

            div.form__group
              label.mdc-text-field.mdc-text-field--outlined
                input.mdc-text-field__input(
                  aria-label='Label')
                span.mdc-notched-outline
                  span.mdc-notched-outline__leading
                  span.mdc-notched-outline__notch
                    span.mdc-floating-label Заменяющая информационная система
                  span.mdc-notched-outline__trailing
              div.mdc-text-field-helper-line
                div.mdc-text-field-helper-text(aria-hidden='true') Укажите название или ссылку

          div.form__actions.form__actions--passwords-form
            div.form__actions-row
              div.form__actions-cell.form__actions-cell--back
                a.btn.mdc-button.mdc-button--dark(href="/password-add-step-2.html")
                  div.mdc-button__ripple
                  +icon('chevron_left', ' icon--left mdc-button__icon btn__icon')
                  span.mdc-button__label Назад
              div.form__actions-cell.form__actions-cell--next
                a.btn.mdc-button(href="/password-add-step-4.html")
                  div.mdc-button__ripple
                  span.mdc-button__label Далее
                  +icon('chevron_left', ' icon--right mdc-button__icon btn__icon')
              div.form__actions-cell.form__actions-cell--save
                button.btn.mdc-button.mdc-button--unelevated
                  div.mdc-button__ripple
                  span.mdc-button__label Сохранить
              div.form__actions-cell.form__actions-cell--cancel
                button.btn.mdc-button.mdc-button--dark
                  div.mdc-button__ripple
                  span.mdc-button__label Отенить


